<!-- Etiquetas-->

<!--LLamamos al menu haciendo que se extienda de base.htlm-->
{% extends 'core/base.html' %}
<!--La etiqueta de Portafolio-->
{% block title %}Portafolio{% endblock %}

{%block background%}{%load static%}{%static 'core/img/portfolio-bg.jpg' %}{%endblock%}

{%block headers%}
    <h1>Portafolio</h1>
	<span class="subheading">Progreso</span>
{%endblock%}

<!--Contenido personalizado para cada seccion-->
{% block content %}
    {%for project in projects%}
    <!-- Proyecto -->
        <div class="row project">  	
        <div class="col-lg-3 col-md-4 offset-lg-1">
                <img class="img-fluid" src="{{project.image.url}}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading title">{{project.title}}</h2>   
            <p>
                <p>{{project.description}}</p>
            </p>
              {% if project.link != null %}
              <p>
                <a href="{{project.link}}">Mas Informacion</a>
             </p> 
             {% endif %}
        </div>
        </div>
    {% endfor %}
{% endblock %} 


